.prayer-times-month-links {
	margin-left: -5px;
	margin-right: -5px;

	.entry-content & {
		margin-left: -5px;
		margin-right: -5px;
	}

	> li, .entry-content & > li {
		display: inline-block;
		margin: 0;
		padding: 5px;

		> a {
			color: inherit;
			display: block;
			text-decoration: none;
			padding: 10px 5px;
			line-height: 1;
			border: 1px solid rgba(0, 0, 0, 0.2);
			box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
			text-align: center;
			min-width: 56px;
			transition: all 0.20s ease-in-out;
		}

		> a:hover,
		&.active > a {
			border-color: #2196f3;
			box-shadow: 2px 2px 4px -1px #2196f3;
		}
	}
}
